<ion-header>
  <ion-toolbar>
    <ion-title>
      Device List
    </ion-title>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button (click)="scan()" [disabled]="scanning">
        <ion-icon slot="start" name="bluetooth"></ion-icon>
        Scan
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container [ngSwitch]="scanState$ | async">

    <!-- Default to intro -->
    <ng-container *ngSwitchDefault>
      <ion-item lines="none" class="ion-margin-top">
        Start scanning to see nearby devices
      </ion-item>
    </ng-container>

    <ng-container *ngSwitchCase="scanStates.SCAN_ERROR">
      <ion-item lines="none" class="ion-margin-top">
        Scan Error! -> {{scanError}}
      </ion-item>
    </ng-container>

    <ng-container *ngSwitchCase="scanStates.SCAN_COMPLETE_NO_DEVICES">
      <ion-item lines="none" class="ion-margin-top">
        Scan complete, no devices found
      </ion-item>
    </ng-container>

    <ng-container *ngSwitchCase="scanStates.DEVICE_LIST">
      <ion-list>
        <ng-template #scanComplete>
          <ion-item lines="none" class="ion-margin-top">
            Scan Complete
          </ion-item>
        </ng-template>
        <ng-container *ngIf="scanning">
          <ion-item lines="none" class="ion-margin-top">
            Scanning for nearby devices...
            <ion-spinner></ion-spinner>
          </ion-item>
        </ng-container>
        <ion-item *ngFor="let device of devices$ | async" [detail]="true" [button]="true" (click)="selectDevice(device)">
          <ion-note slot="start">
            {{device.rssi}}
          </ion-note>
          <ion-label>
            <h2>{{device.name}}</h2>
            <p>{{device.id}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

  </ng-container>

</ion-content>
