<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{device.displayName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Hack to get view to re-render when notifications come back over BLE -->
  <ng-container *ngIf="deviceNotifications$ | async"></ng-container>

  <ion-item-divider>
    General
  </ion-item-divider>

  <ion-item>
    <ion-label>
      <h2>ID</h2>
      <p>{{device.id}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>RSSI</h2>
      <p>{{device.rssi}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Connected</h2>
      <p>{{device.connected ? 'Yes' : 'No'}}</p>
    </ion-label>
    <ion-button slot="end" *ngIf="!device.connected" [disabled]="reconnecting" (click)="tryReconnectDevice()">
      Reconnect
    </ion-button>
  </ion-item>

  <ion-item-divider>
    Gatt Profile
  </ion-item-divider>

  <ng-container *ngIf="!endpoints || endpoints.length === 0; else deviceEndpointList">
    <ion-button [disabled]="loadingEndpoints" (click)="loadEndpoints()">
      Load Endpoints
    </ion-button>
  </ng-container>

  <ng-template #deviceEndpointList>
    <ng-container *ngFor="let endpoint of endpoints">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h2>Path</h2>
          <p>{{endpoint.path()}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h2>Value</h2>
          <p>{{(endpoint.hexValue$ | async) || 'N/A'}}</p>
        </ion-label>
      </ion-item>
      <ng-container *ngIf="endpoint.writable">
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="endpoint.hexInput" label="Write Value (Hex)" placeholder="112233AABBCC"></ion-input>
        </ion-item>
        <p *ngIf="endpoint.hexInput && !endpoint.hasValidHexInput">
          <ion-text color="danger">
            Input must be a valid hex value like AABBCC
          </ion-text>
        </p>
      </ng-container>
      <ion-item>
        <ion-button (click)="endpoint.read()" *ngIf="endpoint.readable">
          Read
        </ion-button>
        <ion-button (click)="endpoint.writeHexInput()" *ngIf="endpoint.writable" [disabled]="!endpoint.hasValidHexInput">
          Write
        </ion-button>
        <ion-button (click)="endpoint.watch()" *ngIf="endpoint.subscribable && !endpoint.subscribed">
          Subscribe
        </ion-button>
        <ng-container *ngIf="endpoint.subscribable && endpoint.subscribed">
          <ion-button color="medium" (click)="endpoint.unwatch()">
            Unsubscribe
          </ion-button>
        </ng-container>
       
      </ion-item>
    </ng-container>
  </ng-template>

</ion-content>
